.u-section-1 .u-sheet-1 {
  min-height: 642px;
}

.u-section-1 .u-icon-1 {
  height: 99px;
  width: 99px;
  margin: 95px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 17px 341px 0 373px;
}

.u-section-1 .u-text-2 {
  width: 586px;
  margin: 0 auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 273px;
    margin-right: 241px;
    width: 395px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 163px;
    margin-right: 131px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 73px;
    margin-right: 41px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}