.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-text-1 {
  text-decoration: none !important;
  margin: 18px 9px 0;
}

.u-section-1 .u-line-1 {
  margin-top: 60px;
  margin-bottom: 30px;
  height: 3px;
  border-style: solid;
  transform-origin: right center 0px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-left: initial;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 2222px;
}

.u-section-2 .u-tabs-1 {
  margin-top: 36px;
  margin-bottom: 60px;
  min-height: 2058px;
  height: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 1059px;
  height: auto;
  width: 1080px;
  margin: -8px 0 0;
}

.u-section-2 .u-text-1 {
  width: 661px;
  margin: -1051px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-custom-html-2 {
  min-height: 980px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-2 .u-text-2 {
  margin: -970px 77px 0 164px;
}

.u-section-2 .u-text-3 {
  margin: 934px -30px 0;
}

.u-section-2 .u-text-4 {
  margin: 899px -30px 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-custom-html-3 {
  min-height: 1104px;
  height: auto;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-text-5 {
  margin: -1089px 29px 0 74px;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-custom-html-4 {
  min-height: 909px;
  width: 1080px;
  margin: 0;
}

.u-section-2 .u-text-6 {
  margin: -899px auto 0;
}

.u-section-2 .u-text-7 {
  margin: 863px -30px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-tabs-1 {
    margin-top: -1247px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 880px;
    margin-bottom: -143px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 1140px;
    margin-right: 159px;
    margin-left: 161px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -543px;
    margin-right: 339px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 358px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 143px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-custom-html-3 {
    width: 880px;
  }

  .u-section-2 .u-text-5 {
    margin: 30px 0 60px;
  }

  .u-section-2 .u-custom-html-4 {
    height: auto;
    width: 880px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 803px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-custom-html-1 {
    width: 660px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 122px;
    margin-left: 123px;
    width: 660px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -507px;
    margin-right: 254px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 71px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 660px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 660px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-tabs-1 {
    margin-top: -1283px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 92px;
    margin-right: 92px;
    width: 520px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 200px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 520px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-tabs-1 {
    margin-top: -1262px;
  }

  .u-section-2 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 58px;
    margin-right: 58px;
    width: 320px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -493px;
    margin-right: 123px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 365px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 42px;
  }

  .u-section-2 .u-custom-html-3 {
    width: 320px;
  }

  .u-section-2 .u-custom-html-4 {
    width: 320px;
  }
}@import "compass/css3";
// only for presentation purposes
body {
  font-family: 'Source Sans Pro', sans-serif;
}
h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}
h3 {
  margin-top: 0;
  font-weight: 300;
}
.container {
  width: 40em;
  margin: 10px auto;
}
// main level
.ac-label {
  font-weight: 700;
  position: relative;
  padding: .5em 1em;
  margin-bottom: .5em;
  display: block;
  cursor: pointer;
  background-color: whiteSmoke;
  transition: background-color .15s ease-in-out;
}
.ac-input:checked + label, .ac-label:hover {
  background-color: #999;
}
.ac-label:after, .ac-input:checked + .ac-label:after {
  content: "+";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 2em;
  height: 100%;
  line-height: 2.25em;
  text-align: center;
  background-color: #e5e5e5;
  transition: background-color .15s ease-in-out;
}
.ac-label:hover:after, .ac-input:checked + .ac-label:after {
  background-color: #b5b5b5;
}
.ac-input:checked + .ac-label:after {
  content: "-";
}
.ac-input {
  display: none;
}
// the magic
.ac-text, .ac-sub-text {
  opacity: 0;
  height: 0;
  margin-bottom: .5em;
  transition: opacity .5s ease-in-out;
  overflow: hidden;
}
.ac-input:checked ~ .ac-text, .ac-sub .ac-input:checked ~ .ac-sub-text { 
  opacity: 1;
  height: auto;
}
// sub-level
.ac-sub .ac-label {
  background: none;
  font-weight: 600;
  padding: .5em 2em;
  margin-bottom: 0;
}
.ac-sub .ac-label:checked {
  background: none;
  border-bottom: 1px solid whitesmoke;
}
.ac-sub .ac-label:after, .ac-sub .ac-input:checked + .ac-label:after {
  left: 0;
  background: none;
}
.ac-sub .ac-input:checked + label, .ac-sub .ac-label:hover {
  background: none;
}
.ac-sub-text {
  padding: 0 1em 0 2em;
} 